DIRECTUS_URL=https://admin.earnest.guru
DIRECTUS_WEBSOCKET_URL=wss://admin.earnest.guru/websocket
DIRECTUS_STATIC_TOKEN=********
ANTHROPIC_API_KEY=sk-ant-********
NUXT_SESSION_PASSWORD=*******
NUXT_PUBLIC_DIRECTUS_ROLE_USER=role-uuid-from-directus
APP_URL=http://localhost:3000
